<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<script type="text/javascript" src="{% static "jquery-3.3.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "tablesort.js" %}"></script>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta
   name="viewport"
   content="width=device-width, initial-scale=1, shrink-to-fit=no"
  >
  <title>
   {% block title %}Portfol.io{% endblock %}
  </title>

 </head>
 <body>
 <div class="portfolio-masthead">
  <div class="container">
   <nav class"navbar-default">
    <div class="navbar-brand">Portfol.io</div>
      <a class="nav-link"href="{% url 'core:ModelList' %}">
        Models
      </a>
      <a class="nav-link" href="{% url 'core:TickerList' %}">
        Tickers
      </a>
    </nav>
  </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-sm-8 portfolio-main">
   {% block main %}{% endblock %}
  </div>
  <div class="col-sm-3 offset-sm-1 portfolio-sidebar">
   {% block sidebar %}{% endblock %}
  </div>
 </div>
</div>
</body>
</html>
